@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url('./fonts/Manrope-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url('./fonts/Manrope-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope';

  src: local('Manrope'), url('./fonts/Manrope-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
